#selectedIds-form , #selectedItems{
    margin: 0;
}

.search-form span.required{
	display: none;
}

.add-cat, .delete-cat, .views-cat,.edit-cat,.add-rigths{
	display: none;
}

.jqtree-element:hover .add-cat, .jqtree-element:hover .delete-cat, .jqtree-element:hover .edit-cat,.jqtree-element:hover .add-rigths, .jqtree-element:hover .views-cat{
	display: inline;
}

#ui-datepicker-div{
	z-index: 1000 !important;
}

.not-menu-active{
	margin-left: 31px;
    position: relative;
}

.not-menu{
	position: relative;
    top: -12px;
}

.module-grid td a.update[href=hide]{
	display: none;
}

#form-sizes.form-horizontal .control-label{
	width: 80px !important;
}

#form-sizes.form-horizontal .controls {
    margin-left: 105px !important;
}
.file_upload {
    display: inline-block;
    min-height: 18px;
    overflow: hidden;
    position: relative;
    width: auto;
}
.file_upload > input[type="file"] {
    cursor: pointer;
    font-size: 200px;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
}
.file_upload:hover .btn-light-blue {
	background-color: #1dc0ca; border-color: #1dc0ca; color: #ffffff;
}
.row-file .preview {
    border-radius: 3px;
    /*height: 95px;
	width: 285px;*/
    overflow: hidden;
    position: relative;
}
.preview_container .preview {
    display: inline-block;
    margin-right: 10px;
    margin-top: 5px;
    position: relative;
}
.preview_container .preview .panel {
    background: none repeat scroll 0 0 #f1f3f6;
    opacity: 0.5;
    padding: 3px;
    position: absolute;
    right: 10px;
    top: 10px;
	border: 1px solid #a7a7a7;
}
.preview_container .preview .panel:hover {
    opacity: 1;
}
.preview_container .preview .panel a {
    display: block;
    float: left;
    margin: 0 3px;
}
.preview_container .preview .panel a:hover {
    opacity: 0.5;
}
.preview_container .preview .panel > .delete {
    background-image: url("/images/delete_garbage.png");
    height: 16px;
    width: 16px;
}
.progress {
    background: none repeat scroll 0 0 #dfdfe7;
    display: none;
    height: auto;
    margin-bottom: 10px;
    text-align: center;
    /*width: 300px;*/
}
.progress_bar > .bar {
    background: none repeat scroll 0 0 #666;
    height: 5px;
    width: 0;
}
.preview_container .preview img{
	width: 100%;
}
.icon-move{
	cursor: move;
}
@media only screen and (min-width : 768px) {
    /* Make Navigation Toggle on Desktop Hover */
    .dropdown.user-menu:hover .dropdown-menu {
        display: block;
    }
    /*.dropdown:hover {
        background-color: #e7e7e7;
		color: #555;
    }*/
	/*.feed-dropdown:hover > ul.dropdown-menu {
		display: block;
	}*/
}

#sidebar{
	background-color: whitesmoke;
}
.not-menu{
	z-index: 999;
}
#form .nav-tabs{
	margin-bottom: 20px;
}
.control-label{
	cursor: pointer;
}
.form-horizontal .form-group.form-actions hr{
	/*border-top: 1px solid #5DAAE8;*/
}
.datepicker.datepicker-dropdown{
	z-index: 2999 !important;
}
#add-size-dialog{
	overflow: hidden;
}
#add-size-dialog .help-block.error{
	 display: none !important;
}
.sortableItem{
	cursor: pointer;
}
.view{
	margin: 10px; padding: 7px;
}
.sub {
	padding: 3px 0 3px 30px !important;
}
.ui-datepicker-div{
	z-index: 100;
}
.checkbox-list label{
	display: inline-block;
}
.control-sidebar-tabs{
	display: none;
}
.img-jqupload-body .preview img{
	cursor: zoom-in;
}
#map-canvas {
  height: 350px;
  width: 100%;
  margin: 0px;
  padding: 0px
}
.pac-container {
  font-family: Roboto;
}
#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}
#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
#map-canvas img {
  max-width: none;
}
#map-canvas label {
  width: auto; display:inline;
}
div.required label:after {
    content: " *";
}
.error-tab{
	color: #dd4b39 !important;
}
.widget-action-bar.box-header > .box-tools{
	position: initial !important;
	margin-left: 20px;
}


#alignmentbox {
    background: #ddd none repeat scroll 0 0;
    height: 183px;
    padding: 0;
    width: 243px;
}
#alignmentbox label {
    background-image: url("/images/admin/landscape_lt.png");
    background-repeat: no-repeat;
    display: block;
    float: left;
    height: 58px;
    line-height: 58px;
    margin: 0 3px 3px 0;
    text-align: center;
    width: 78px;
}
#alignmentbox label.current, #alignmentbox label.current:hover {
    background-image: url("/images/admin/landscape.png");
}
#alignmentbox label:hover {
    background-image: url("/images/admin/landscape_dr.png");
}
label#alignment-1-label {
    background-position: left top;
}
label#alignment-2-label {
    background-position: -81px 0;
}
label#alignment-3-label {
    background-position: -162px 0;
}
label#alignment-4-label {
    background-position: 0 -61px;
}
label#alignment-5-label {
    background-position: -81px -61px;
}
label#alignment-6-label {
    background-position: -162px -61px;
}
label#alignment-7-label {
    background-position: 0 -122px;
}
label#alignment-8-label {
    background-position: -81px -122px;
}
label#alignment-9-label {
    background-position: -162px -122px;
}